.details-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.details-section h2 {
    font-size: 1.7em;
    font-weight: bold;
}

.details-section h4 {
    font-size: 1.2em;
}

.ingredients {
    width: 20%;
    margin-left: 25%;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.instructions {
    margin-left: 5%;
    width: 25%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}