.recipe_card {
    color: black;
    width: 300px;
    height: 450px;
    margin-right: 10px;
    margin-bottom: 10px;
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: 0px 3px 10px rgba(0,0,0,0.6);
    justify-content: space-between;
    padding-bottom: 10px;
    box-sizing: border-box;
    border-radius: 3px;
  }
  
  .recipe_img_container {
    position: relative;
    left: -50%;
    width: 300px;
    height: 300px;
    margin-bottom: 10px;
  }
  
  .recipe-card-image {
    width: 100%;
    height: 100%;
    border-radius: 3px 3px 0px 0px;
  }

  h4 {
    color: black;
    font-size: 1.7em;
  }